* {
    margin: 0;
}

body {
    background-color: ghostwhite;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.app__left {
    flex: 0.9;
}

.app__right {
    padding: 20px;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    .app {
        flex-direction: column;
    }
}

.country__image {
    width: 25px;
    height: 16px;
    padding-right: 20px;
}
