.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:hover {
    background-color: whitesmoke;
}

@media (min-width: 401px) {
    .infoBox:not(:last-child) {
        margin-right: 15px;
    }
}

.infoBox__cases {
    color: crimson;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.infoBox__title,
.infoBox__total {
    color: gray;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
    margin-bottom: 10px;
}

.infobox--selected {
    border-top: 10px solid crimson;
}

.infobox--green {
    border-color: #90f000;
}

.infobox--orange {
    border-color: orangered;
}

.infobox--text--green {
    color: #90f000 !important;
}

.infobox--text--orange {
    color: orangered !important;
}
