.map {
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px -4px black;
    margin-top: 16px;
}

.map .leaflet-container {
    height: 100%;
    border-radius: 10px;
}
