.tableData {
    margin-top: 20px;
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
}

.table tr:nth-of-type(odd) {
    background-color: gainsboro;
}

.table__countryImage {
    height: 20px;
    width: 30px;
}
