.table {
    margin-top: 20px;
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
}

.table tr:nth-of-type(odd) {
    background-color: gainsboro;
}

.table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table tr {
    padding: 0.5rem;
}
